html,
body {

  padding: 0;
  margin: -1rem 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


:root{
  --rosa:#FD9C9C;
  --botao: #FFE793;
  --font: black;
  --grey: #373737;
}
